<!DOCTYPE html>
<html lang='en'>

	<head>
		<link type='text/css' rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css' />
		<link type='text/css' rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' />
		<title>LEAP Dataview</title>
		<style type='text/css' rel='stylesheet'>
			table {
				margin-left: auto;
				margin-right: auto;
			}
		</style>
	</head>

	<body>
		<section class='section'>
			<div class='container'>
				<table class='table is-bordered is-striped'>
					<thead>
						<tr>
							<th>#</th>
							<th>ID</th>
							<th>Object Count</th>
						</tr>
					</thead>
					<tbody>
						<% for(var i=0; i<queryLength; i++) { %>
						<tr>
							<td>
								<%= i %>
							</td>
							<td>
								<%= queryData[i].id %>
							</td>
							<td>
								<%= queryData[i]._objCount %>
							</td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		</section>
		<script type='text/javascript'>
			history.pushState(null, null, '/viewData');
		</script>
	</body>

</html>		